body {
    background: linear-gradient(#a0fa4b 0%,#e1f5f3 100%);
}
#signal {
    width: 3%;
    height: 4%;
}
#bannerrepeater {
    height: 6%;
    width: 6%;
}
#off {
    height: 5%;
    width: 10%;
}
#huge_image {
    height: 27%;
    width: 48%;
}
img {
    width: 30%;
}
h1 {
    text-align: center;
    font-size: 200%;
}
h2 {
    text-align: center;
    text-decoration: underline;
    font-size:150%;
}
h3 {
    font-size: 100%;
}
table {
    width: 50%;
  }
nav {
    background-color: #333;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    text-align: center;
}
.n_text {
    font-size: 80%;
    color: white;
}
.border {
    border-right: 3px solid white;
}
.split {
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
.left {
    left: 0;
  }
.right {
    right: 0;
}
.centered {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    text-align: center;
  }